<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.sample.ws.dao" />

	<bean id="calculator"
		class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
		<property name="schema" ref="schema" />
		<property name="portTypeName" value="calculatorService" />
		<property name="requestSuffix" value="Request" />
		<property name="responseSuffix" value="Response" />
		<!-- <property name="locationUri" value="/holidayService/" /> -->
		<property name="targetNamespace" value="http://ws.sample.com/calculator" />
	</bean>

	<bean id="schema" class="org.springframework.xml.xsd.SimpleXsdSchema">
		<!-- org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection -->
		<property name="xsd" value="classpath:META-INF/xsd/schema.xsd" />
	</bean>

	<bean
		class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
		<property name="mappings">
			<props>
				<prop key="{http://ws.sample.com/calculator}AddRequest">calculatorEndpoint</prop>
			</props>
		</property>
		<!-- <property name="interceptors"> <bean class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" 
			/> </property> -->
	</bean>
	<bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory">
		<property name="messageFactory">
			<bean
				class="com.sun.xml.messaging.saaj.soap.ver1_1.SOAPMessageFactory1_1Impl"></bean>
		</property>
	</bean>

	<bean id="calculatorEndpoint" class="com.sample.ws.controller.CalculatorEndpoint">
		<constructor-arg ref="marshaller" />
	</bean>
	<bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<!-- <property name="schema" value="/META-INF/xsd/schema.xsd" /> -->
		<property name="contextPath" value="com.sample.ws.xsd" />
	</bean>
</beans>